{% extends 'base.html' %}

{% block content %}
<title>Quest</title>

<div class="container my-3">
    <h1 class="text-center">Quest</h1>
    <br><br>
    <div class="card text-white bg-dark mb-2">
        <div class="card-body">
            {% if request.user.is_superuser %}
            <div class="col-2 ml-auto">
                Status : <select onchange="status_change(this);">
                    <option value="">Select</option>
                    <option value="open" {% if sort == 'open' %}selected{% endif %}>Open</option>
                    <option value="closed" {% if sort == 'closed' %}selected{% endif %}>Closed</option>
                    <option value="review" {% if sort == 'review' %}selected{% endif %}>Review</option>
                    <option value="rejected" {% if sort == 'rejected' %}selected{% endif %}>Rejected</option>
                </select>
            </div>
            {% endif %}
            <h3 class="card-title">{{quest.questname}}</a></h3> 
            <h6 class="card-subtitle mb-2 text-muted">{{quest.pub_date|date:"Y-m-d H:i"}} ~ {{quest.due_date|date:"Y-m-d H:i"}}</h6>
            <p class="card-text">
                ({{quest.status}})<br>
                <h5>{{quest.contents}}</h5>
                rewards<br> 
                stars : {{quest.stars}} mama : {{quest.mana}}</p>
                closed_date : {{quest.closed_date|date:"Y-m-d H:i"}}<br>
                publish_target : {{publish_target.nickname}} </p>
            </p> 
        </div>
    </div>
</div>

<nav class="navbar fixed-bottom navbar-expand-lg py-1">
        <ul class="navbar-nav">     
            {% if quest.status == 'open' %}
            {% if user_id == quest.publish_target %}
            <li class="nav-bottom-item">
                <a style="color:green" class="nav-link" href="/quest/display_questlist/{{quest.pk}}/request">Complete</a>
            </li>
            {% endif %}
            {% endif %}
            {% if quest.status == 'review' %}
                <a class="nav-link" style="font-weight:normal; font: size 22px; color:white;">This Quest is currently under review</a>  
            {% if request.user.is_superuser %}
            <li class="nav-bottom-item">    
                <a style="color:green"class="nav-link" href="/quest/display_questlist/{{quest.pk}}/reward">Accept</a>
            </li>
            <li class="nav-bottom-item">
                <a style="color:crimson" class="nav-link" href="/quest/display_questlist/{{quest.pk}}/reject">Reject</a>
            </li>
            {% endif %}
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">   
            {% if request.user.is_superuser %}
            <li class="nav-bottom-item">
                <a class="nav-link" href="/quest/display_questlist/{{quest.pk}}/edit">Edit</a>
            </li>
            <li class="nav-bottom-item">
                <a class="nav-link" href="/quest/display_questlist/{{quest.pk}}/remove">Remove</a>
            </li>
            {% endif %}
            <li class="nav-bottom-item">
                <a class="nav-link" href="{% url 'display_questlist' %}">Return</a>
            </li>
        </ul>
</nav>

<form id="status_form" method="POST" action="{% url 'change_quest_status' %}">
    {% csrf_token %}
    <input type="hidden" id="new_status" name="new_status" value="{{ new_status }}" >
    <input type="hidden" id="pk" name="pk" value="{{ quest.pk }}">
</form>

<script type='text/javascript'>
    
    function status_change(opt){
        $("#new_status").val(opt.value);
        $("#status_form").submit();
    }
</script>

{% endblock %}
